{% extends "base.html" %}
{% block entire_body %}
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
<li>CodeReview</li><li class="active">{% block top_bar_title %}Comment LeaderBoard{% endblock %}</li>
</ul>

<div class="m-b-md">
<h3 class="m-b-none">Leaderboard</h3>
</div>


{% if gamify.user_category == 2 or gamify.user_category == 3 %}
    <section class="panel panel-default">
                <header class="panel-heading">
                  Are you winning ? Because no one remembers who went to Moon second.. :)
                </header>
                <div class="table-responsive">
                  <table class="table table-striped b-t b-light">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Score</th>
                      </tr>
                    </thead>
                    <tbody>
{% for user in data %}
                      <tr>
                        {% if request.user == user.user %}
                            <td><b>{{ user.user }}</b></td>
                        {% else %}
                            <td>[[ name hidden ]]</td>
                        {% endif %}
                        <td>{{ user.total }}</td>
                      </tr>
{% endfor %}
                  </tbody>
                  </table>
                </div>
              </section>
{% else %}
    Sorry but this page isn't available for you.
{% endif %}
{% endblock %}
