{% extends "base.html" %}
{% block entire_body %}
<ul class="breadcrumb no-border no-radius b-b b-light pull-in">
<li><a href="index.html"><i class="fa fa-home"></i> Home</a></li>
<li>CodeReview</li><li class="active">{% block top_bar_title %}Main{% endblock %}</li>
</ul>

<div class="m-b-md">
<h3 class="m-b-none">Code Review</h3>
<small>Captain, following things are open for review. Which should we attack ?</small>
</div>
              <section class="panel panel-default">
                <header class="panel-heading">
                  Available for review
                </header>
                <div class="table-responsive">
                  <table class="table table-striped b-t b-light">
                    <thead>
                      <tr>
                        <th>Sno</th>
                        <th>Branch</th>
                        <th>Project</th>
                        <th>Commits</t  h>
                        <th>Date</th>
                        <th width="30"></th>
                      </tr>
                    </thead>
                    <tbody>
{% for seq in sequences %}
                      <tr>
                        <td>-</td>
                        <td><a href="{{ seq.get_edit_url }}"><i class="fa fa-code-fork"></i> {{ seq.title }}</a></td>
                        <td>SSAD</td>
                        <td><a href="{{ seq.get_edit_url }}"><i class="fa fa-bar-chart"></i> {{ seq.commits.all|length }} commit(s)</a></td>
                        <td>{{ seq.added }}</td>
                        <td>
                          <a href="{{ seq.get_edit_url }}"><i class="fa fa-plus"></i></a>
                        </td>
                      </tr>
{% empty %}
(no reviews yet)
{% endfor %}
                  </tbody>
                  </table>
                </div>
              </section>

{% endblock %}
